.App {
  clear: both;
  height:100%;
  font-size: 0.8125em;
  margin: 0;
  /* padding: 1em 0px; */
}

.content {
  position: absolute;
  /* TODO: how to set width/height that includes margin sizes*/
  /* overflow-y: auto; */
  float: left;  
  height: calc(100% - 100px);
  /* width: 480px; */
  width: 100%; /*TODO: this currently prevents mouse events from being handled by SVGs. Investigate.*/
	padding: 0px;
	margin: 1% 1.6% 1% 1.6%;
}

/* .content {
  position: absolute;
  overflow-y: auto;
  float: left;
  height: calc(100% - 100px);
  width: 480px;
	padding: 0px;
	margin: 1% 0 1% 1.6%;
} */

/*  GROUPING  */
.content:before,
.content:after {
	content:"";
	display:table;
}

.content:after {
	clear:both;
}

.content {
    zoom:1; /* For IE 6/7 */
}