.menu {
  height: 48px;
}

.title {
  font-size: 2.625em;
  display: inline;
}

.sideContent {
  width: 480px;
  height: calc(100% - 100px);
  overflow-y: auto;
}

/*  GO FULL WIDTH AT LESS THAN 500 PIXELS */
@media only screen and (max-width: 500px) {
  .sideContent {
    float: none;
    width : calc(100% - 20px) !important;
  }
}