.label {
  width: fit-content;
  background-color: #645d55;
  color: #E5E3C3;
}

.label.menuItem {
  font-family: monospace;
  border: none;
  display: inline;
  margin: 0 8px 0 8px;
}

.menuItem:hover {
  background-color: #8a837b !important;
}

.menuItem:first-child {
  margin-left: 0;
}

.label.thin {
  font-size: 1.5em;
  border-radius: 16px;
  padding:4px 8px 4px 8px;
}

.label.btm {
  border-radius: 4px 16px 16px 16px;
  margin-top: 4px;
}

.label.mid {
  border-radius: 4px 16px 16px 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.label.top {
  border-radius: 16px 16px 16px 4px;
  margin-bottom: 4px;
}

.label.thick {
  font-size: 1.875em;
  border-radius: 32px;
  padding:8px 16px 8px 16px;
}

.plabel {
  position: absolute;
}

.timer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 16px !important;
}